/** @format */

.flex {
  display: flex;
  flex-direction: column;
}
.mapCover {
  border-radius: 15px;
  overflow: hidden;
}
.flex h2 {
  padding-top: 30px;
  color: white;
}
.flex h2 svg {
  margin-right: 15px;
}
