/** @format */

.flex {
  display: flex;
  height: 100%;
  margin-top: 50px;
}
.profileCover {
  min-width: 400px;
  margin: auto;
}
.circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  min-width: 400px;
}

.circle img {
  background-size: cover;
  transform: translate(0, -40px);
  width: 100%;
}
.DetailInfoCover {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}
.infoBackground {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-color: rgb(136, 118, 118);

  color: white;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 15px;
}
.buttonLayout {
  display: flex;
  width: 100%;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 0 0 15px 15px;
}
