/** @format */
.background {
  background-color: rgb(87, 76, 76);
  height: 100vh;
}
.skillBackground {
  background-color: rgb(87, 76, 76);
  margin: 0;
}
.align {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.height {
  height: 82%;
}
