/** @format */
.background {
  background-color: rgb(87, 76, 76);
  padding-bottom: 2.5%;
}
.skillBackground {
  background-color: rgb(87, 76, 76);
  margin: 0;
  font-size: 28px;
}
.slick-arrow {
  width: 50px;
  height: 50px;
  font-size: 20px;
  z-index: 20;
}
.slick-next {
  top: 50%;
  right: 0;
}
.slick-prev {
  top: 50%;

  left: 0px;
}
.slick-list {
  margin: 0 15px;
}
.slick-prev::before,
.slick-next:before {
  content: "";
  background-image: url("../public/image/project/arrow.png");
  background-size: contain;
  display: block;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
}

.slick-prev::before {
  content: "";
  transform: rotate(180deg);
}
