/** @format */

.flex {
  display: flex;
  width: 100%;
  background-color: rgb(51, 26, 26);
  margin-bottom: 20px;
}
.linkCover {
  width: 90%;
  display: flex;
  margin: auto;
}
.linkCover a {
  text-decoration: none;
}
